# Project exclude paths
/.gradle/
/browser/build/
/build/
/build/js/packages/section-browser/kotlin/
/common/build/
/desktop/build/
/server/build/
.gradle
.idea
gradle/wrapper/gradle-wrapper.jar
data
section.code-workspace
server/bin
